@import "variables";
@import "mixin";

.btn {
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  font-family: 'PT Sans', sans-serif;
  background: transparent;
  border: 1px solid $light-green;
  padding: 15px 38px;
  text-transform: uppercase;
  color: $light-green;

  @include breakpoint($mobile) {
    padding: 10px 30px;
  }

  &:hover {
    text-decoration: none;
    background: $dark-green;
    color: $white;
  }
}

.btn-holder {
  .btn {
    display: inline-block;
    padding: 14px 52px 15px;

    &:hover {
      background: $green;
    }

    &::after {
      content: "\f105";
      font-family: "FontAwesome";
      font-size: 18px;
      padding-left: 5px;
    }
  }
}

.link-btn {
  display: flex;
  align-items: center;
  font-family: 'PT Sans', sans-serif;
  font-size: 12px;
  line-height: 24px;
  color: $light-green;
  font-weight: 700;
  text-transform: uppercase;

  &:before {
    content: "\f138";
    font-family: "FontAwesome";
    color: $light-green;
    font-size: 18px;
    padding-right: 10px;
  }
}