@import "variables";
@import "mixin";

.footer {
  background: $dark-grey-two;
  padding: 42px 0 10px;

  @include breakpoint($tablet) {
    padding:  30px 0 0;
  }

  @include breakpoint($mobile) {
    padding: 20px 0 0;
  }
}

.footer-content {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid $average-grey-two;
  padding-bottom: 50px;

  @include breakpoint($tablet) {
    flex-wrap: wrap;
    padding-bottom: 30px;
  }

  @include breakpoint($mobile) {
    padding-bottom: 20px;
    justify-content: center;
  }
}

.text-nav-wrap {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 960px;

  @include breakpoint($desktop) {
    max-width: 790px;
  }

  @include breakpoint($tablet) {
    max-width: fit-content;
    margin-bottom: 20px;
  }

  @include breakpoint($mobile) {
    flex-wrap: wrap;
  }
}

.text-footer {
  font-family: 'Cormorant Infant', serif;
  max-width: 430px;

  @include breakpoint($desktop) {
    max-width: 430px;
  }

  @include breakpoint($tablet) {
    max-width: 420px;
  }

  @include breakpoint($mobile) {
    margin-bottom: 20px;
    text-align: center;
    max-width: 100%;
  }

  h1 {
    font-size: 36px;
    line-height: 44px;
    color: $white;
    font-weight: 700;
    margin-bottom: 10px;

    @include breakpoint($mobile) {
      font-size: 26px;
      line-height: 34px;
    }
  }

  p {
    line-height: 24px;
    color: $white;
    font-weight: 300;
    font-style: italic;
    max-width: 275px;

    @include breakpoint($tablet) {
      max-width: 100%;
    }
  }
}

.footer-nav-holder {
  display: flex;
  max-width: 420px;
  width: 100%;
  padding-top: 5px;

  @include breakpoint($desktop) {
    max-width: min-content;
    padding-top: 0;
  }

  @include breakpoint($mobile) {
    max-width: 100%;
  }
}

.footer-navigation {
  font-family: 'PT Sans', sans-serif;
  line-height: 34px;
  font-weight: 400;
  text-transform: uppercase;

  @include breakpoint($desktop) {
    min-width: 280px;
  }

  @include breakpoint($mobile) {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  li {
    width: 100%;

    @include breakpoint($mobile) {
      text-align: center;
    }

    a {
      display: block;
      color: $white;

      &:hover {
        text-decoration: underline;
      }

      @include breakpoint($mobile) {
        font-size: 15px;
        line-height: 25px;
        padding: 5px;
      }
    }
  }
}

.holder-socials {
  max-width: 170px;
  width: 100%;
  padding-top: 10px;

  @include breakpoint($desktop) {
    padding-top: 0;
  }

  @include breakpoint($mobile) {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .socials-wrap {
    margin-bottom: 34px;
    align-items: flex-start;

    @include breakpoint($mobile) {
      margin-bottom: 20px;
      max-width: 285px;
      width: 100%;
    }
  }

  .socials {
    @include breakpoint($mobile) {
      min-width: 100%;
      flex-wrap: inherit;
    }

    li {
      @include breakpoint($mobile) {
        text-align: center;
      }

      a {
        @include breakpoint($mobile) {
          padding: 10px;
        }
      }
    }
  }

  .img-area {
    display: flex;
    justify-content: flex-end;

    img {
      width: 90px;
    }
  }
}

.copyright {
  font-family: 'PT Sans', sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: $grey-two;
  font-weight: 400;
  padding: 10px 0;

  @include breakpoint($mobile) {
    text-align: center;
  }
}