@import "mixin";
@import "variables";

.btn-green {
  background: $green-two;
  color: $white;

  &:hover {
    text-decoration: none;
    color: $white;
    background: $green;
  }
}

.btn-lg {
  padding: 15px 33px;
}

.overflow-hidden {
  overflow: hidden;
}

.display-none {
  @include breakpoint($tablet) {
    display: none;
  }
}

.z-index-50 {
  position: relative;
  z-index: 50;
}