@import "mixin";
@import "variables";

.btn-green {
  background: $green-two;
  color: $white;

  &:hover {
    text-decoration: none;
    color: $white;
    background: $green;
  }
}

.flex-start {
  align-items: flex-start;
}

.margin-bottom-34 {
  margin-bottom: 34px;

  @include breakpoint($mobile) {
    margin-bottom: 20PX;
  }
}

.vkontakte-img {
  a {
    &:after {
      content: "\f189";
      font-family: FontAwesome;
      color: $lactic-two;
      font-size: 21px;
    }

    &:hover {
      &:after {
        color: $green-two;
      }
    }
  }
}

.instagram-img {
  a {
    &:after {
      content: "\f16d";
      font-family: "FontAwesome";
      color: $lactic-two;
      font-size: 21px;
    }

    &:hover {
      &:after {
        color: $green-two;
      }
    }
  }
}

.btn-lg {
  padding: 15px 33px;
}

.overflow-hidden {
  overflow: hidden;
}