$white: #fff;
$white-two: #E5E5E5;
$white-three: #f0f0f0;
$light-gray: #F4F4F4;
$light-green: #48974C;
$dark-green: #365c38;
$green: #3b7a3e;
$green-two: #47974B;
$green-three: #439553;
$dark-grey: #404040;
$dark-grey-two: #3F3F3F;
$average-grey: #595959;
$average-grey-two: #7F7F7F;
$grey: #737373;
$grey-two: #999;
$grey-three: #a6a6a6;
$dark: #262626;
$lactic: #e6e6e6;
$lactic-two: #CCC;
$lactic-three: #B6B6B6;
